<mat-toolbar color="primary">
    <span>App User</span>
    <span class="example-spacer"></span>  
    <div text-a>
        <button mat-button routerLink="/dashboard">Dashboard</button>
        <button mat-button routerLink="/list-participant">List of Users</button>
        <button mat-button routerLink="/reports">Reports</button>
    </div>
    <button mat-icon-button routerLink="/login" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>
  </mat-toolbar>
