<app-navbar></app-navbar>
<div class="container">
  <br>
  <mat-toolbar>
      <span>Create User              </span>
  </mat-toolbar>
  <br>
<div class="container col-md-5 border-right"> 
    <div class="p-3 py-5">  
        <div class="row mt-2"> <div class="col-md-6">
            <label class="labels">Name</label>
            <input type="text" class="form-control" placeholder="first name" value="">
        </div> 
        <div class="row mt-3 col-md-6">
            <label class="labels">Family Name</label>
            <input type="text" class="form-control" value="" placeholder="surname">
        </div> 
    </div> 
    <div class="row mt-3"> 
            <div class="col-md-12">
                <label class="labels">Role</label>
                <input type="text" class="form-control" placeholder="enter role" value="">
            </div> 
            
            <div class="col-md-12">
                <br>
                <label class="labels">Email</label>
                <input type="text" class="form-control" placeholder="enter email" value="">
            </div> 
            <div class="col-md-12">
                <br>
                <label class="labels">Password</label>
                <input type="text" class="form-control" placeholder="enter a Password" value="">
            </div> 
          
    </div> 

    <div class="p-3 py-5">  
        <button type="button" class="buttoncancel btn btn-secondary align-items-end" routerLink="/list-participant" >Cancel</button>
        <button type="button" class="buttoncancel btn btn-success align-items-end" routerLink="/list-participant" >Accept</button>
    </div>
    
</div>
